<!-- app/views/rules/index.html.erb -->

<h1>Правила гри</h1>

<p>Ласкаво просимо у гру "Бункер"! Ось правила гри:</p>

<h2>Мета гри</h2>
<p>Головною метою гри є виживання в бункері до кінця та залишення останнім гравцем.</p>

<h2>Підготовка гри</h2>
<p>Гра починається з того, що кожен гравець потрапляє в бункер. Власник кімнати може розпочати гру, коли в бункері достатньо гравців.</p>

<h2>Характеристики</h2>
<p>Кожному гравцеві призначаються різні характеристики, такі як вік, зріст, вага, стан здоров'я, фобія, хобі, характер, багаж, додаткова інформація та знання. Ці характеристики відіграють ключову роль у грі.</p>

<h2>Ходи</h2>
<p>Гра ведеться ходами. Протягом кожного ходу гравці розкривають одну свою характеристику іншим. Після того, як всі гравці розкрили свої характеристики, починається фаза голосування.</p>

<h2>Голосування</h2>
<p>Гравці голосують за того гравця, якого вони бажають виключити з гри.</p>

<!-- Додайте будь-які інші розділи або правила за потреби -->

<%= link_to 'Повернутися назад', unauthenticated_root_path %>
